In [49]:
import mysql.connector as connection
import pandas as pd

import warnings
warnings.simplefilter("ignore", UserWarning)

In [50]:
queries = []
dataframes = []

try:
    db = connection.connect(
        host="localhost",
        database="F1",
        user="root",
        passwd="Hausfahrrad123",
        use_pure=True
    )
    queries.append("SELECT * from circuits;")
    queries.append("SELECT * from constructorresults;")
    queries.append("SELECT * from constructors;")
    queries.append("SELECT * from constructorstandings;")
    queries.append("SELECT * from drivers;")
    queries.append("SELECT * from driverstandings;")
    queries.append("SELECT * from laptimes;")
    queries.append("SELECT * from pitstops;")
    queries.append("SELECT * from qualifying;")
    queries.append("SELECT * from races;")
    queries.append("SELECT * from results;")
    queries.append("SELECT * from seasons;")
    queries.append("SELECT * from sprintresults;")
    queries.append("SELECT * from status;")

    circuits_df = pd.read_sql(queries[0], db)
    constructorresults_df = pd.read_sql(queries[1], db)
    constructors_df = pd.read_sql(queries[2], db)
    constructorstandings_df = pd.read_sql(queries[3], db)
    drivers_df = pd.read_sql(queries[4], db)
    driverstandings_df = pd.read_sql(queries[5], db)
    laptimes_df = pd.read_sql(queries[6], db)
    pitstops_df = pd.read_sql(queries[7], db)
    qualifying_df = pd.read_sql(queries[8], db)
    races_df = pd.read_sql(queries[9], db)
    results_df = pd.read_sql(queries[10], db)
    seasons_df = pd.read_sql(queries[11], db)
    sprintresults_df = pd.read_sql(queries[12], db)
    status_df = pd.read_sql(queries[13], db)

    db.close()

except Exception as e:
    db.close()
    print(str(e))

In [80]:
circuits_df.to_csv(
    r'C:\Users\Gabriel\Documents\Code\KEN3450 Data Analysis\Data Madness\Code\CSVs\circuits.csv',
    index=False
)

In [88]:
circuits_df

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10.0,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18.0,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7.0,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109.0,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130.0,http://en.wikipedia.org/wiki/Istanbul_Park
...,...,...,...,...,...,...,...,...,...
74,75,portimao,Autódromo Internacional do Algarve,Portimão,Portugal,37.22700,-8.62670,108.0,http://en.wikipedia.org/wiki/Algarve_Internati...
75,76,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.99750,11.37190,255.0,http://en.wikipedia.org/wiki/Mugello_Circuit
76,77,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.63190,39.10440,15.0,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...
77,78,losail,Losail International Circuit,Al Daayen,Qatar,25.49000,51.45420,NaN,http://en.wikipedia.org/wiki/Losail_Internatio...
78,79,miami,Miami International Autodrome,Miami,United States,25.95810,-80.23890,NaN,http://en.wikipedia.org/wiki/Miami_Internation...

In [87]:
circuits_df.loc[circuits_df.isnull().any(axis=1)]

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
77,78,losail,Losail International Circuit,Al Daayen,Qatar,25.4900,51.4542,NaN,http://en.wikipedia.org/wiki/Losail_Internatio...
78,79,miami,Miami International Autodrome,Miami,United States,25.9581,-80.2389,NaN,http://en.wikipedia.org/wiki/Miami_Internation...